<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASS</title>
    <link rel="stylesheet" href="/static/style/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h4>DASS21 - Amplified</h4>
      <div class="header-icons">
        <a href="/">
          <img src="/static/assets/home.png" alt="Home Icon" />
        </a>
        <a href="/detect">
          <img src="/static/assets/list.png" alt="List Icon" />
        </a>
        <a href="/model">
          <img src="/static/assets/info.png" alt="Info Icon" />
        </a>
      </div>
    </header>

    <main>
      <h1>DASS - 21 Test</h1>
      <div class="grid-container">
        <div class="grid-test">
          <div class="form-container">
            <ul id="question-list"></ul>
          </div>
          <div class="form-buttons">
            <button id="return">RETURN</button>
            <button id="next">NEXT</button>
          </div>
        </div>

        <div class="grid-findings">
          <div class="card-header">
            <h2>FINDINGS</h2>
          </div>
          <div class="card-content">
            <div class="dass-results">
              <div>
                <h4>Depression</h4>
                <span id="D-score">0</span>
                <h5>Severity</h5>
                <p id="D-severity">None</p>
              </div>

              <div>
                <h4>Anxiety</h4>
                <span id="A-score">0</span>
                <h5>Severity</h5>
                <p id="A-severity">None</p>
              </div>

              <div>
                <h4>Stress</h4>
                <span id="S-score">0</span>
                <h5>Severity</h5>
                <p id="S-severity">None</p>
              </div>
            </div>

            <div class="likelihood-container">
              <h5>LIKELIHOOD OF INCREASE</h5>
              <p id="likelihood">None</p>
            </div>
            <div class="magnitude-container">
              <h5>MAGNITUDE OF INCREASE</h5>
              <p id="magnitude">0%</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/static/js/index.js"></script>
  </body>
</html>
