<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASS21 - Amplified</title>
    <link rel="stylesheet" href="/static/style/nlp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h4>DASS21 - Amplified</h4>
      <div class="header-icons">
        <a href="/">
          <img src="/static/assets/home.png" alt="Home Icon" />
        </a>
        <a href="/detect">
          <img src="/static/assets/list.png" alt="List Icon" />
        </a>
        <a href="/model">
          <img src="/static/assets/info.png" alt="Info Icon" />
        </a>
      </div>
    </header>

    <main>
      <div class="symptoms-identifier">
        <h2>Symptoms Identifier</h2>
        <textarea
          placeholder="What are you feeling?"
          rows="6"
          id="user-input"
        ></textarea>
        <button id="analyze-btn">Analyze</button>
      </div>
      <div class="results">
        <div class="symptoms-found">
          <div class="title-box">
            <h3>DASS 21 - Symptoms Found</h3>
          </div>
          <div class="content-box">
            <p id="symptoms-list"></p>
          </div>
        </div>

        <div class="findings-box">
          <h4>Findings</h4>
          <div class="findings-content">
            <div class="findings-item">
              <p>Depression</p>
              <p id="depression-count">0</p>
            </div>
            <div class="findings-item">
              <p>Anxiety</p>
              <p id="anxiety-count">0</p>
            </div>
            <div class="findings-item">
              <p>Stress</p>
              <p id="stress-count">0</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/static/js/nlp.js"></script>
  </body>
</html>
